// Basic Styles, COlors and Imports

@import "compass/utilities/general/clearfix";
@import "compass/css3/font-face";
@import "compass/css3/border-radius";
@import "compass/css3/box-shadow";
@import "compass/css3/inline-block";
@import "compass/support";

// Text default colors
$default-color: #222;
$default-color-lite: #777;

// Layout default colors
$primary-color: #eee;
$primary-color-neon: #fff;
$primary-color-dark: #222;
$primary-color-muted: #ccc;
$primary-color-lite: #eee;

@mixin ul_base {
	ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
	dd { margin: 0 0 0 40px; }
	nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }
}

@mixin a_base {
	a { color: $default-color; }
	a:visited { color: $default-color-lite; }
	a:hover { color: $default-color-lite; }
	a:focus { outline: thin dotted; }
	
	/* Improve readability when focused and hovered in all browsers: h5bp.com/h */
	a:hover, a:active { outline: 0; }
}

@mixin typo_base {
	font-size: 13px; 
	line-height: 1.231; 
	font-family: sans-serif; 
	color: $default-color;

	button, input, select, textarea { font-family: sans-serif; color: $default-color; }
	abbr[title] { border-bottom: 1px dotted; }

	b, strong { font-weight: bold; }
	
	big { font-weight: bold; font-size: 115%; }
	
	blockquote { margin: 1em 40px;  }
	
	cite { font-size: .85em; margin: 1em 40px; }
	
	code, samp, kbd, var { margin: 1em 40px; background-color: $primary-color-lite; }
	
	del { background: $primary-color-muted; color: $default-color-lite; text-decoration: none;  }
	
	details, summary { display: none; }
	
	dfn, tt, i { font-style: italic; }
	
	hr { display: block; height: 1px; border: 0; border-top: 1px solid $primary-color-muted; margin: 1em 0; padding: 0; }
	
	ins { background: $primary-color; color: $default-color; text-decoration: none; }
	
	mark { background: $primary-color; color: $default-color; font-style: italic; font-weight: bold; }
	
	/* Redeclare monospace font family: h5bp.com/j */
	pre, code, kbd, samp { font-family: monospace, monospace; _font-family: 'courier new', monospace; font-size: 1em; }
	
	/* Improve readability of pre-formatted text in all browsers */
	pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }
	
	q { quotes: none; }
	q:before, q:after { content: ""; content: none; }
	
	s, strike { text-decoration: line-through; color: $primary-color-lite; }
	
	small { font-size: 85%; }
	
	/* Position subscript and superscript content without affecting line-height: h5bp.com/k */
	sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
	sup { top: -0.5em; }
	sub { bottom: -0.25em; }
}

@mixin img_base {
	img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; display: block; }
	svg:not(:root) { overflow: hidden; }
}

@mixin html5_base {
	article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
	audio, canvas, video,command, mark, meter, time { display: inline-block; *display: inline; *zoom: 1; }
	audio:not([controls]) { display: none; }
	[hidden] { display: none; }
	::-moz-selection { background: $primary-color-lite; color: $primary-color-neon; text-shadow: none; }
	::selection { background: $primary-color-lite; color: $primary-color-neon; text-shadow: none; }
	figure { margin: 0; }
}

@mixin form_base {
	form {
		margin: 0;
		fieldset { border: 0; margin: 0; padding: 0; }
		legend { border: 0; *margin-left: -7px; padding: 0; }
		label { font-weight: bold; color: $primary-color; border-bottom: dotted 1px $primary-color-muted; }
		button, input, select, textarea, keygen, output { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
		button, input { line-height: normal; *overflow: visible; }
		table button, table input { *overflow: auto; }
		button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; }
		input[type="checkbox"], input[type="radio"] { box-sizing: border-box; }
		input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
		input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }
		button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
		textarea { overflow: auto; vertical-align: top; resize: vertical; }
		input:valid, textarea:valid {  }
		input:invalid, textarea:invalid { background-color: $primary-color-lite; }
		datalist { margin: 1em 0; padding: 0 0 0 40px; }
	}
}

@mixin table_base {
	table {
		margin: 0;
		padding: 0;
		border-collapse: collapse; 
		border-spacing: 0;
		caption { font-weight: bold; }
		td, tr, th { 
			margin: 0;
			padding: 0;
			vertical-align: top; 
		}
	}
}

html { 
	font-size: 100%; 
	overflow-y: scroll; 
	-webkit-text-size-adjust: 100%; 
	-ms-text-size-adjust: 100%; 
	body { 
		
	}
}
